body{background: #ffffff;}
.bg-none{background: #ffffff!important;}
.clearfix{clear: both;}

/*Header CSS*/
.outer-container{
    background-color: #1465c1;
    padding-top: 30px;   
}
.header-design{background: url(img/design.png) bottom left repeat-x;}
.header{padding-bottom: 15px;}
.header-fixed-top{position: fixed; top: 0;left: 0; right: 0;}
/*Navigation CSS*/
 .navbar-inverse{ 
    background: transparent;
    border: transparent;
    margin-left: 10%;
    
}
.navbar-inverse .navbar-toggle{border: 0;}
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
    border: 0;
}
 .navbar-toggle .icon-bar {
    background-color: #ffffff;
    border-color: transparent;
}
.navbar-inverse .navbar-nav  a{background: #000000;}
.navbar-inverse .navbar-toggle{background: transparent;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{background: #0c0c0c;}
.navbar-inverse .navbar-collapse{border: 0;}

h1{color: #f5b822;}
p{
	font-size: 14px;
	color: #a5c3e7;
}
.welcome{padding: 50px 0;}
.rounded {border-radius: 25px;}
/*Form CSS*/
.form-login{padding-bottom: 20px;}
.form-login a{
	font-size: 12px;
	margin: 15px 0;
	color: #a2a2a2;
}
.form-control{
	height: 45px;
	background-color: #f6f6f6;
	box-shadow: inset 0 2px 5px #c7c7c7;
	color: #a7a7a7;
}

/*Page 2*/

.back-sp{
    margin-top: -15px;
    cursor: pointer;
}
.back-sp .fa{
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}
.b-day{
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    margin-top: -22px;
    position: relative;
    z-index: 9999;
}
.b-day a{color: #ffffff; }
.b-heading{margin: 0 10px;}
.overlay-block img{border: 0;}

.img-block .overlay-block{  
    cursor: pointer;
    background: url(img/overlay2.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img-block img{opacity: .7;}
.text-block {
    position: absolute;
    bottom: 18%;
    right: 25%;
    left: 25%;
}
.gallary .row, .gallary .col-xs-6 {padding: 0;}

.text-block h2{color: #ffffff;}
.gall-clear{margin-bottom:75px;}

/*footer fixed*/
.footer {
    background: #f0f0f0;
    padding: 20px 15px;
}
.footer-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
/*page 3*/

/*Add image box CSS*/
.add-page{padding-top: 30px;}
.img-upload-box{
    text-align: center;
    padding: 40px;
    background: #ebebeb;
    border: 1px solid #9b9b9b;
    max-width: 140px;
    webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
}
.img-upload-box .fa{
    font-size: 28px;
    color: #bbbbbb;
}
.add-text a{
    margin:80px 0 0 15px;
    text-decoration: none; 
    color: #9b9b9b;
}
.add-text a:hover{color: #616265;}
.add-text a:before{
     content:"• ";
     font-size: 28px;
     vertical-align: middle;
}

/*Form inputs*/
label {color: #9b9b9b; text-transform: uppercase;}
.custom-input{ 
    font-size: 18px;
    color: #000;
    padding-left: 0;
    outline: none;
    background: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.btn:focus, input:focus{outline: none;}

/*Custom Radio buttons css*/

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline; vertical-align: middle;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none; vertical-align: middle;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none; vertical-align: middle;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #1465c1;    display: inline; vertical-align: middle;
}
label:hover input[type="radio"] ~ i.fa {color: #1465c1;}
div[data-toggle="buttons"] .btn{
    padding-left: 0;
    padding-bottom: 15px;
}
div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 18px;
font-weight: bold;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
color: #000!important;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
div[data-toggle="buttons"] label span{margin:0 45px 0 15px;}
div[data-toggle="buttons"] label:hover {color: #7AA3CC;}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: none!important;
}
/*Form footer css*/
.footer-form{
    background-color: #e9e9eb; 
    padding: 0 0 130px 0; 
    margin-top: 30px;
}
.footer-form-inner{
    background: url(img/design-grey.png) top left repeat-x;
    padding: 20px 0;
}
/*Buttons CSS*/
.btn{
    height: 45px;
    line-height: 35px;
    font-size: 18px;
    color: #ffffff !important;
}
.btn-add{width: 50%; height: 45px; line-height: 35px;}
.btn-gall{
    height: 30px;
    line-height: 10px;
    opacity: 0.4;
    padding: 10px 20px;
}
.btn-green {background: #7fbd42;}
.btn-purple{background: #a413b4;}
/*Media Queries CSS*/
@media (max-width: 2000px) {
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {display: none!important;}
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {float: none;}
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{display:block !important;}
}
@media only screen and (max-width: 480px){
	h1,h2{font-size: 22px;}
	p{font-size: 12px;}

    .navbar .container{padding: 0;}
    .navbar-toggle{margin-right: 0!important;}
    .btn-add {width: 80%;}
}

@media only screen and (max-width: 360px){
    .overlay-block .text-block{left: 20%; right: 20%;}
}

